.container {
    transform: translateY(0);
    box-shadow: 0 0 0 0 hsl(from var(--primary) h s 25%);
    transition:
            transform 200ms cubic-bezier(0.27, 1.00, 1.00, 1.00),
            box-shadow 200ms;
}
.container:hover {
    box-shadow: 0 5px 0 0 hsl(from var(--primary) h s 30%);
    transform: translateY(-5px);
}

.iconContainer {
    aspect-ratio: 1;
    place-content: center;
    border-radius: 15px;
}
.title {
    font-family: var(--font-header), sans-serif;
    font-variation-settings: "wdth" 130;
    font-weight: 500;
}
