:root {
    --bg: #152435;
    --bg-light: #1D2C3E;
    --bg-border: #27313E;
    --primary: #DBC13B;
    --secondary: #dbd09b;
    --text: #B7B7B7;

    --size-h1: 60px;
    --size-h2: 42px;
    --size-h3: 32px;
    --size-body: 18px;
    --size-small: 12px;

    --card-radius: 30px;

    --font-header: "Google Sans Flex", "serif";
    --font-body: "Sora";
}

/* debugging */
/** {*/
/*    background-color: rgba(100, 0, 0, 0.1) !important;*/
/*}*/
* {
    scroll-behavior: smooth;
}
*::selection {
    background-color: var(--primary);
    color: var(--bg);
}

/* layout */
.rel {position: relative;}
.abs {position: absolute;}
.d-flex {display: flex;}
.flex-col {flex-direction: column;}
.flex-row {flex-direction: row;}
.justify-center {justify-content: center;}
.justify-start {justify-content: flex-start;}
.justify-end {justify-content: flex-end;}
.align-center {align-items: center;}
.align-start {align-items: flex-start}
.align-end {align-items: flex-end;}
.display-grid {display: grid;}

/* spacing */
.p0   {padding: 0;}
.p025 {padding: 0.25rem;}
.p025 {padding: 0.5rem;}
.p075 {padding: 0.75rem;}
.p1   {padding: 1rem;}
.p2   {padding: 2rem;}
.p3   {padding: 3rem;}
.g0   {gap: 0;}
.g025 {gap: 0.25rem;}
.g075 {gap: 0.75rem;}
.g05  {gap: 0.5rem;}
.g1   {gap: 1rem;}
.g2   {gap: 2rem;}
.m0   {margin: 0;}

/* fonts */
h1, h2, h3, .h1, .h2, .h3 {font-family: var(--font-header), "serif";}
h1, .h1 {
    font-size: var(--size-h1);
    font-weight: 700;
    font-variation-settings: "wdth" 151;
}
h2, .h2 {
    font-size: var(--size-h2);
    font-variation-settings: "wdth" 125;
}
h3, .h3 {
    font-size: var(--size-h3);
    font-variation-settings: "wdth" 90;
}
p {
    margin: 0;
    line-height: 2rem;
}
br { margin-bottom: 0.5rem; }
p, button, .btn, .body, .small { font-family: var(--font-body), "sans-serif"; }
.body { font-size: var(--size-body); }
.small { font-size: var(--size-small); }
i { font-weight: 250; }

/* colors */
.bg-bg {background-color: var(--bg);}
.bg-light {background-color: var(--bg-light);}
.bg-primary {background-color: var(--primary);}
.color-bg {color: var(--bg);}
.color-primary {color: var(--primary);}
.color-text {color: var(--text);}
.border-primary {border: 2px solid var(--primary);}
.border-bg {border: 2px solid var(--bg);}
.border-light {border: 2px solid var(--bg-border);}

/* misc */
.radius-full {border-radius: 99vh;}
.radius-card {border-radius: var(--card-radius);}
.radius-none {border-radius: 0;}
.nodeco {text-decoration: none;}

/* buttons */
.btn, button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: var(--size-body);
    transition: all 200ms ease, transform 100ms ease;
    width: max-content;
    cursor: pointer;
    border-radius: 99rem;
}
.btn-primary {
    background-color: var(--primary);
    color: var(--bg);
    border: 2px solid var(--primary);
    transform: scale(1);
}
.btn-primary:hover {
    transform: scale(calc(0.67 * 1.67));
}
.btn-primary:active {
    transform: scale(1);
}
.btn-norm {
    background-color: var(--bg);
    color: var(--primary);
    border: 2px solid var(--primary);
}
.btn-norm:hover {
    background-color: var(--primary);
    color: var(--bg);
    border: 2px solid var(--primary);
}